:root {
    --bg-color: #0f172a;
    --surface-color: #1e293b;
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --accent-color: #38bdf8;
    --accent-hover: #0ea5e9;
    --nav-height: 70px;
}


#btn {
    background-color: var(--accent-color);
    color: var(--text-primary);
    border: none;

}
#btn:hover{
    background-color: var(--accent-hover);
}
#border:hover{
    box-shadow: 0 0 2px var(--accent-color);
}

ion-icon{
    color: var(--accent-color);
    font-size: 3.5rem
}

#navigation ion-icon{
    color: var(--accent-color);
    font-size: 2rem;
}

