{% extends "Dashboard/base_dashboard.html" %}
{% load static %}

{% block external_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock external_css %}




{% block content %}

<div class="md:w-3/4 bg-gray-800 rounded-xl p-6">
    {% if messages %}
    {% for message in messages %}
    <div class="mb-4 p-3 rounded-lg
        {% if message.tags == 'error' %}
            bg-red-500/20 text-red-400
        {% else %}
            bg-green-500/20 text-green-400
        {% endif %}
    ">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}


    <div>
        <ul>
            {% for blog in bloglist %}
            <li>{{blog.title}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="mx-auto  border-gray-700 pt-1  sm:pt-10 flex item-center  gap-5">
        <form action="" method="get">
            {% csrf_token %}
            <div class="w-full max-w-sm flex items-center justify-between gap-5">

                <label for="categories" class="block mb-1 text-sm font-medium text-white/80">
                    Memories
                </label>

                <select id="categories" name="blog_title" onchange="this.form.submit()" class="w-full rounded-md bg-white/5 px-3 py-2
               text-white outline-none
               border border-white/10
               focus:ring-2 focus:ring-indigo-500
               focus:border-indigo-500">

                    <option value="" class="bg-slate-800">
                        All
                    </option>
                    {% for list in travellist %}
                    <option value="{{ list.id }}" class="bg-slate-800" {% if travellist_id == list.id %} selected
                        {%endif%}>
                        {{ list.title }}
                    </option>

                    {% endfor %}



                </select>


            </div>
        </form>
        <a href="{% url 'create_AiBlog' %}" class="px-4 py-2 rounded-md bg-red-500/10 text-red-400
          border border-red-500/20 hover:bg-red-500/20
          transition">
            Clear
        </a>
    </div>


    {% if blog_created %}

    <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}

        <!-- Title -->
        <div>
            <label class="block text-sm font-medium mb-1">Blog Name</label>
            <input type="text" name="title" required
                class="w-full rounded-md bg-white/5 px-3 py-2 text-white outline-none focus:ring-2 focus:ring-indigo-500"
                value="{{blog_created.title}}">
        </div>


        
            <div>
                <label class="block text-sm font-medium mb-1">Categories:</label>
                <select name="categories" id=""
                    class="w-full rounded-md bg-white/5 px-3 py-2 text-white outline-none focus:ring-2 focus:ring-indigo-500">
                    <option value="" style="background-color:rgba(42, 52,65, 1)">
                        Select Categories </option>
                    {% for i in categories %}
                    <option value="{{i.id}}" style="background-color:rgba(42, 52,65, 1)">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
    

        <!-- Description -->
        <div>
            <label class="block text-sm font-medium mb-1">Short Summery </label>
            <textarea name="about" rows="2" required
                class="w-full rounded-md bg-white/5 px-3 py-2 text-white outline-none">{{blog_created.about}}</textarea>
        </div>

        <!-- Highlights -->
        <div>
            <label class="block text-sm font-medium mb-1">Body</label>
            <textarea name="body" rows="12"
                class="w-full rounded-md bg-white/5 px-3 py-2 text-white">{{blog_created.body}}</textarea>
        </div>

        <!-- Submit -->
        <div class="flex justify-end">
            <button type="submit" class="bg-indigo-500 hover:bg-indigo-600 px-6 py-2 rounded-md font-semibold">
                Save Blog
            </button>
        </div>

    </form>


    {% endif %}


</div>




{% endblock content %}