Hello {{ user.username }},

We received a request to reset the password for your <b>Travel Book</b> account.

To reset your password, please click the link below:

🔗 <b>Reset Password:</b>
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link is valid for a limited time and can be used only once for security reasons.

If you did <b>not</b> request a password reset, please ignore this email. Your account will remain secure.

For any help or questions, feel free to contact our support team.

Best regards, <b>Travel Book</b>
Support Team
